<!DOCTYPE html>
<html>

<head>
    <title>
        <%= anime.ANIME_TITLE %>
    </title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/test.css">

</head>

<body>
    <div class="main-content-anime">
        <%- include('../partials/header.ejs') %>
            <!-- {{!-- get the jpg image and anime title from sent data  --}} -->
            <img src=<%="/img/anime_pic/" +anime.ANIME_ID + ".jpg" %> alt= <%= anime.ANIME_TITLE + "image" %> >
                <h3 class="anime-title">
                    <%= anime.ANIME_TITLE %>
                </h3>

                <!-- !for adding to watchlist button -->
                <% if(isAuth) { %>
                    <form method="post" action=<%="/user/" + username + "/watchlist/add" %>>
                        <input type="hidden" name="username" value=<%=username %> >
                        <input type="hidden" name="anime_id" value=<%=anime.ANIME_ID %> >
                        <input type="hidden" name="type" value=<%=isAddedToWatchlist ? (isAddedToFavouriteList
                            ? 'unfavourite' : 'favourite' ) : 'add' %>>
                        <button type="submit">
                            <%= isAddedToWatchlist ? (isAddedToFavouriteList ? 'Favourited' : 'Add to favourites' )
                                : 'Add to watchlist' %>
                        </button>
                    </form>
                    <% } %>


                        <a href=<%="/anime/" + anime.ANIME_ID + "/reviews/" %> ><button>Reviews</button></a>

                        <p>Synopsis : <%= anime.SYNOPSIS %>
                        </p>
                        <p>Genre :
                            <% for (let genre of genres){ %>
                                <!-- this might change depending on the search by genre -->
                                <a class="listed" href=<%="/genre/" + genre.GENRE_NAME %> > <%=genre.GENRE_NAME %> </a>
                                <% } %>
                        </p>
                        <p>Released : <%= anime.YEAR %>
                                <%= anime.RELEASE_SEASON %>
                        </p>

                        <% studioURL=encodeURIComponent(anime.STUDIO_NAME) %>
                            <p>Studio : <a class="listed" href=<%="/studio/" + studioURL%>> <%= anime.STUDIO_NAME %>
                                </a>
                            </p>
                            <p>Writer : <a class="listed" href=<%="/personnel/" + writer.PERSONNEL_ID%> > <%=
                                        writer.FIRST_NAME %>
                                        <%= writer.LAST_NAME %> </a> </p>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>