<!DOCTYPE html>
<html>

<head>
    <title>
        <%= anime.ANIME_TITLE %>
    </title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/test.css">

</head>

<body>
    <div class="main-content-anime">
        <%- include('../partials/header.ejs') %>
            <!-- {{!-- get the jpg image and anime title from sent data  --}} -->
            <img src=<%="/img/anime_pic/" +anime.ANIME_ID + ".jpg" %> alt= <%= anime.ANIME_TITLE + "image" %> >
                <h3 class="anime-title">
                    <%= anime.ANIME_TITLE %>
                </h3>

                <div id="left">
                    <p style="text-align: right; color:rebeccapurple; font-size: larger;">Rate
                    <div class="stars">
                        <div class="star-rating">
                            <input type="radio" id="star1"><label for="star1"></label>
                            <input type="radio" id="star2"><label for="star2"></label>
                            <input type="radio" id="star3"><label for="star3"></label>
                            <input type="radio" id="star4"><label for="star4"></label>
                            <input type="radio" id="star5"><label for="star5"></label>
                        </div>
                    </div>
                    </p>
                    <div class="rank">
                        Rank
                    </div>
                    <div id="center">
                        <div class="average-rating">
                            Average Rating
                        </div>
                        <div id="right">
                            Stars
                        </div>
                        <p><br></p>

                        <p><br><br></p>


                        <a href=<%="/anime/" + anime.ANIME_ID + "/reviews/" %> >
                            <button>
                                Reviews
                            </button>
                        </a>

                        <p>Synopsis : <%= anime.SYNOPSIS %>
                        </p>
                        <p>Genre :
                            <% for (let genre of genres){ %>
                                <!-- this might change depending on the search by genre -->
                                <a class="listed" href=<%="/genre/" + genre.GENRE_NAME %> > <%=genre.GENRE_NAME %> </a>
                                <% } %>
                        </p>
                        <p>Released : <%= anime.RELEASE_DATE %>
                        </p>
                        <p>Studio : <a class="listed" href=<%="/studio/" + anime.STUDIO_NAME%>> <%= anime.STUDIO_NAME %>
                            </a>
                        </p>
                        <p>Writer : <a class="listed" href=<%="/personnel/" + writer.PERSONNEL_ID%> > <%=
                                    writer.FIRST_NAME %>
                                    <%= writer.LAST_NAME %> </a> </p>
                    </div>
                    <%- include('../partials/footer.ejs') %>
</body>

</html>