<!DOCTYPE html>
<html>

<head>
    <title>My Anime List</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
            <p>Showing results of <%= genre_name %> genre </p>
            <ul>
                <% for (let anime of animes){ %>
                    <li> <a class="listed-anime" href=<%="/anime/" + anime.ANIME_ID %> > <%= anime.ANIME_TITLE %> </a>
                    </li>
                    <% } %>
            </ul>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>