<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Anime List</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/test.css">
</head>

<body>
    <div class="reviews">
        <%- include('../partials/header.ejs') %>
            <br>
            <% if(isAuth) { %>
                <button class="open-review" onclick="openReview()"> Write/Edit review</button>


                <% if(userReview) { %>
                    <!-- this button will show if the logged in user reviewed this anime -->
                    <form action=<%="/anime/" + anime_id + "/reviews/delete" %> method="post">
                        <input type="hidden" name="username" value=<%=username %>>
                        <input type="hidden" name="anime_id" value=<%=anime_id %>>
                        <button type="submit" onclick="return removeReview()">Remove review</button>
                    </form>
                    <% } %>
                        <br>
                        <!-- this div will open when write review button is pressed -->
                        <div class="review-edit" id="myReview">
                            <form class="Review" method="post" action=<%="/anime/" + anime_id + "/reviews" %> >
                                <textarea id="text" name="reviewContent" rows="5"
                                    cols="50"><%= userReviewContent %></textarea>
                                <input type="hidden" name="username" value=<%=username %> >
                                <input type="hidden" name="anime_id" value=<%=anime_id%>>
                                <br>
                                <button type="submit"> Post </button>
                            </form>
                        </div>

                        <% var confirmText="Your review \" " + userReviewContent+ " \" will be deleted" %>
                            <script>
                                var a = 0;
                                function openReview() {
                                    if (a == 1) {
                                        document.getElementById("myReview").style.display = "none";
                                        return a = 0;
                                    } else {
                                        document.getElementById("myReview").style.display = "block";
                                        return a = 1;
                                    }
                                }
                                var b = 0
                                function openVoteForm() {
                                    if (b == 1) {
                                        document.getElementById("vote").style.display = "none";
                                        return b = 0;
                                    } else {
                                        document.getElementById("vote").style.display = "block";
                                        return b = 1;
                                    }
                                }

                                function removeReview() {
                                    return confirm("your review will be deleted");
                                }
                            </script>

                            <% } %>
                                <p>
                                    showing reviews for <%= anime_title %>
                                </p>
                                <% if(!reviews || reviews.length==0) { %>
                                    <p>No result found</p>
                                    <% } else { %>
                                        <ul>
                                            <% for (let review of reviews){ %>
                                                <li>
                                                    <p>
                                                        <%= review.USERNAME %> said : <%= review.CONTENT %>
                                                    </p>
                                                    <p> votes : <%= review.VOTES %>
                                                    </p>
                                                    <% if(isAuth) { %>
                                                        <div class="user-vote-popup" id="vote">
                                                            <form method="post" action=<%="/anime/" + anime_id
                                                                + "/reviews/" + review.REVIEW_ID + "/vote" %>>
                                                                <input type="hidden" name="username" value=<%=username
                                                                    %> >
                                                                <input type="hidden" name="review_id"
                                                                    value=<%=review.REVIEW_ID %> >
                                                                <input type="hidden" name="vote_comment" value="">
                                                                <input type="hidden" name="vote_type"
                                                                    value=<%=review.USERNAME_1==username ? -1 : 1 %>>
                                                                <!-- !button will show upvote if not voted, downvote if already voted -->
                                                                <button type="submit">
                                                                    <%= review.USERNAME_1==username ? 'Downvote'
                                                                        : 'Upvote' %>
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <% } %>
                                                </li>
                                                <% } %>
                                        </ul>
                                        <% } %>

                                            <!-- <p style="color: darkslateblue;">All Reviews</p><br>
                            <table style="border-style:double;">
                                <tr>
                                    <th style="color: darkslategray; border-style: outset;">
                                        Username</th>
                                    <th style="color: darkslategray; border-style: outset;">
                                        Anime Name</th>
                                    <th style="color: darkslategray; border-style: outset;">
                                        Review</th>
                                    <th style="color: darkslategray; border-style: outset;">
                                        Vote</th>
                                </tr>

                                <tr>
                                    <td style="border-style: outset;">
                                        <p>Ekhane character username listed hobe</p>
                                    </td>
                                    <td style="border-style: outset;">
                                        <p>Ekhane anime name listed hobe</p>
                                    </td>
                                    <td style="border-style: outset;">
                                        <p>Ekhane oi username oi anime er review listed hobe </p>
                                        <button name="remove" id="remove"
                                            onclick="return confirm('Do you really want to delete the review??');">Remove
                                            review</button>
                                    </td>

                                    <td style="border-style: outset;">
                                        <p class="voting">
                                            <button name="vote" id="vote">Vote</button>
                                            <input type="number" id="in" name="in" value="vote">
                                        </p>
                                    </td>
                                </tr>
                            </table> -->

                                            <script>
                                                document.getElementById("vote").addEventListener("click", vote);
                                                var a = 1;
                                                function vote() {
                                                    if (a == 1) {
                                                        document.getElementById("in").value = parseInt(document.getElementById("in").value) + 1;
                                                        return a = 0;
                                                    }
                                                    else {
                                                        document.getElementById("in").value = parseInt(document.getElementById("in").value) - 1;
                                                        return a = 1;
                                                    }
                                                }
                                            </script>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>