<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Anime List</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/new.css">
</head>

<body>
    <div class="reviews">
        <%- include('../partials/header.ejs') %>
            <br>
            <div>

                <% if(isAuth) { %>
                    <button class="open-review" onclick="openReview()" style="background-color: rgb(126, 126, 207);"> Write/Edit review</button>

                    <br>
                    <br>
                    <% if(userReview) { %>
                        <!-- this button will show if the logged in user reviewed this anime -->
                        <form action=<%="/anime/" + anime_id + "/reviews/delete" %> method="post">
                            <input type="hidden" name="username" value=<%=username %>>
                            <input type="hidden" name="anime_id" value=<%=anime_id %>>
                            <button type="submit" onclick="return removeReview()" style="background-color: rgb(233, 111, 115);">Remove review</button>
                        </form>
                        <% } %>
                            <br>
                            <!-- this div will open when write review button is pressed -->
                            <div class="review-edit" id="myReview">
                                <form class="Review" method="post" action=<%="/anime/" + anime_id + "/reviews" %> >
                                    <textarea id="text" name="reviewContent" rows="5"
                                        cols="50"><%= userReviewContent %></textarea>
                                    <input type="hidden" name="username" value=<%=username %> >
                                    <input type="hidden" name="anime_id" value=<%=anime_id%>>
                                    <br>
                                    <button type="submit" style="background-color: rgb(60, 33, 112);"> Post </button>
                                </form>
                            </div>

                            <% } %>
            </div>
            <p style="font-weight: bolder; color: rgb(64, 64, 124);">
                Reviews for <%= anime_title %>
            </p>

            <div>

                <% if(!reviews || reviews.length==0) { %>
                    <p>No result found</p>
                    <% } else { %>
                        <ul>
                            <% for (let review of reviews){ %>
                                <li>
                                    <p><span style="color: rgb(37, 37, 87); font-weight: 700;">
                                        <%= review.USERNAME %> said :</span> <%= review.CONTENT %>
                                    </p>
                                    <p> <span style="color: rgb(37, 37, 87); font-weight: 700;">Votes </span> : <%= review.VOTES %>
                                    </p>
                                    <% if(isAuth) { %>
                                        <div class="user-vote-popup" id="vote">
                                            <form method="post" action=<%="/anime/" + anime_id + "/reviews/" +
                                                review.REVIEW_ID + "/vote" %>>
                                                <input type="hidden" name="username" value=<%=username %> >
                                                <input type="hidden" name="review_id" value=<%=review.REVIEW_ID %> >
                                                <input type="hidden" name="vote_comment" value="">
                                                <input type="hidden" name="vote_type"
                                                    value=<%=review.USERNAME_1==username ? -1 : 1 %>>
                                                <!-- !button will show upvote if not voted, downvote if already voted -->
                                                <button type="submit" style="background-color: rgb(41, 20, 80);">
                                                    <%= review.USERNAME_1==username ? 'Downvote' : 'Upvote' %>
                                                </button>
                                            </form>
                                        </div>
                                        <% } %>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
            </div>
    </div>
    <script>
        var a = 0;
        function openReview() {
            if (a == 1) {
                document.getElementById("myReview").style.display = "none";
                return a = 0;
            } else {
                document.getElementById("myReview").style.display = "block";
                return a = 1;
            }
        }
        var b = 0
        function openVoteForm() {
            if (b == 1) {
                document.getElementById("vote").style.display = "none";
                return b = 0;
            } else {
                document.getElementById("vote").style.display = "block";
                return b = 1;
            }
        }

        function removeReview() {
            return confirm("your review will be deleted");
        }
        document.getElementById("vote").addEventListener("click", vote);
        var a = 1;
        function vote() {
            if (a == 1) {
                document.getElementById("in").value = parseInt(document.getElementById("in").value) + 1;
                return a = 0;
            }
            else {
                document.getElementById("in").value = parseInt(document.getElementById("in").value) - 1;
                return a = 1;
            }
        }
    </script>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
