<!DOCTYPE html>
<html>

<head>
    <title>My Anime List</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
            <h3>Animes</h3>
            <ul>
                <%- include('../partials/listedAnimes.ejs') %>
            </ul>
            <h3>Characters</h3>
            <ul>
                <%- include('../partials/listedCharacters.ejs') %>
            </ul>
            <h3>Voice actors</h3>
            <ul>
                <% for (let voice_actor of voice_actors){ %>
                    <li> <a class="listed" href=<%="/personnel/" + voiceactor.PERSONNEL_ID%> >
                            <%=voiceactor.FIRST_NAME %>
                                <%= voiceactor.LAST_NAME %>
                        </a>
                    </li>
                    <% } %>
            </ul>
            <h3>Writers</h3>
            <ul>
                <% for (let writer of writers){ %>
                    <li> <a class="listed" href=<%="/personnel/" + writer.PERSONNEL_ID%> >
                            <%= writer.FIRST_NAME %>
                                <%= writer.LAST_NAME %>
                        </a>
                    </li>
                    <% } %>
            </ul>

    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>