<!DOCTYPE html>
<html lang="en">

<head>
    <title>Users profile</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <% console.log(userInfo) %>
            <div class="users profile">
                <h3>
                    <%= username %>
                </h3>
                <br>
                <p>
                    Email : <%= userInfo.EMAIL %>
                </p>
                <p>
                    Bio: <%= userInfo.BIO %>
                </p>
                <p>
                    Join Date: <%= userInfo.JOIN_DATE %>
                </p>
                <br>



                <a href=<%="/user/" + userInfo.USERNAME + "/watchlist/" %> >
                    <button>
                        Your Watchlist
                    </button>
                </a>
                <br><br>

                <button class="open-button" onclick="openForm()">Upadate Info</button>
                <br>

                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <h1>UserInfo update</h1>
                  
                        <label for="email"><b>Edit Email</b></label>
                        <input type="text" placeholder="Edit Email" name="email">
                        <br><br>
                  
                        <label for="text"><b>Edit Bio:</b></label>
                        <br>
                        <textarea id="text" name="text" rows="5" cols="70" placeholder="Edit bio..."></textarea>
                        <br><br>
                  
                        <button type="submit" class="btn">Edit</button>
                    </form>
                </div>
                <% var a;%>
                <% function openForm(){%>
                    <% if(a==1){ %>
                        <% document.getElementById("myForm").style.display="block"; %>
                        <% return a=0; %>
                    <%} %>
                    <% else{ %>
                        <% document.getElementById("myForm").style.display="none"; %>
                        <% return a=1; %>
                    <%} %>
                <%}%>
            </div>
            <%- include('../partials/footer.ejs') %>
</body>

</html>
